html {
    scroll-behavior: smooth;
}

/* Navbar settings */
.navbar {
    overflow: hidden;
    background-image: linear-gradient(rgb(20, 182, 5), rgb(9, 117, 32));
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Navbar settings */
.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1.2rem 2rem;
    text-decoration: none;
    z-index: 1;
}

/* Navbar settings */
.navbar a:hover {
    background: rgba(184, 184, 184, 0.5);
    color: black;
    z-index: 1;
}

.login {
    float: right;
}

.contact {
    float: right;
}

/* Font main settings */
.main {
    color: #ffffff;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

/* Text Containers */
.container {
    max-width: 960px;
    margin: 0 auto;
    background: #1d1d1d;
    font-size: 24px;
    padding: 0px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    position: relative;
    width: 180px;
    flex-grow: 1;
}

.item:hover {
    border: 1px solid #777;
}

.item img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 1px;
    text-align: center;
    max-height: 100px;
    overflow: hidden;
}

/*  Phone view  */
@media only screen and (max-width: 699px) {
    .navbar {
        overflow: hidden;
        background-image: linear-gradient(rgb(20, 182, 5), rgb(9, 117, 32));
        background-color: #333333;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .navbar a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 1.2rem 2rem;
        text-decoration: none;
        z-index: 1;
    }

    .navmain {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 0;
        text-decoration: none;
    }
}

/*  Desktop view    */
@media only screen and (min-width: 700px) {
    .navbar {
        overflow: hidden;
        background-image: linear-gradient(rgb(20, 182, 5), rgb(9, 117, 32));
        background-color: #333333;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .navbar a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 1.2rem 2rem;
        text-decoration: none;
        z-index: 1;
    }

    .navmain {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 0;
        text-decoration: none;
    }
}

@media only screen and (max-width: 340px) {
    .navbar a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        z-index: 1;
    }

    .navmain {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Site creat de Toma Petrica */