.navbar {
    overflow: auto;
    background-image: linear-gradient(rgb(20, 182, 5), rgb(9, 117, 32)); 
    background-color: #333333;
    position: fixed;
    top: 0;
    padding: 0;
    width: 100%;
    max-width: 960px;
}
/*  
    99, 51, 177  |  #6333b1 -- Light Purple
    62, 6, 126   |  #3e067e -- Dark Purple
*/
.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1.2rem 2rem;
    text-decoration: none;
}

.navbar a:hover {
    background: rgba(184, 184, 184, 0.5);
    color: black;
}

.main {
    color: #ffffff;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background: #1d1d1d;
    font-size: 24px;
    padding: 0px;
}

.parallax {
    background: url("/Assets/Images/Background.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

.parallax2 {
    background: url("/Assets/Images/Background2.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}